<%= form_with(model: password_manager) do |form| %>
  <% if password_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(password_manager.errors.count, "error") %> prohibited this password_manager from being saved:</h2>

      <ul>
        <% password_manager.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
